@charset "UTF-8";
/* *********************************
* 전시
********************************** */
/* 베스트 ********************* */
.ranking-img-header {
  position: relative;
  margin-bottom: 25px;
}

.ranking-img-header .detail {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.ranking-img-header .wrapper {
  margin: 0 15px;
  padding-top: 10px;
  background-color: #fff;
}

.ranking-img-header .tit-over {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.ranking-img-header .tit {
  color: #222222;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.se-key-ranking {
  margin-top: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(207, 197, 165, 0.2);
}

.se-key-ranking .ranking-item-v .img-container {
  padding-top: 0;
}

/* 전문관 ********************* */
/* 전문관 메인 */
.sp-hero-banner {
  position: relative;
  display: block;
}

.sp-hero-banner .detail {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 30px;
  padding-bottom: 30px;
  color: #fff;
}

.sp-hero-banner .content {
  font-size: 13px;
}

.sp-hero-banner .tit {
  margin-top: 7px;
  font-size: 25px;
  font-weight: 600;
}

.sp-main-list {
  margin-top: 60px;
  padding: 0 15px;
}

.sp-main-list li + li {
  margin-top: 60px;
}

.sp-main-banner {
  display: block;
}

.sp-main-banner .detail {
  position: relative;
  margin: -30px 15px 0;
  padding: 25px;
  background-color: #fff;
}

.sp-main-banner .tit {
  color: #222222;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.46px;
  line-height: 24px;
}

.sp-main-banner .content {
  margin-top: 5px;
  font-size: 15px;
  letter-spacing: -0.46px;
  line-height: 20px;
}

/* 전문관 A TYPE */
.sp-shop-a-detail {
  margin-bottom: 30px;
}

.sp-shop-a-content-header {
  padding-top: 50px;
  padding-bottom: 15px;
  text-align: center;
}

.sp-shop-a-content-header .tit {
  color: #222222;
  font-size: 20px;
  font-weight: 600;
}

.sp-shop-a-content-header .desc {
  margin-top: 7px;
  color: #999999;
  font-size: 13px;
}

.sp-shop-a-content {
  background-color: #f8f8f8;
}

.sp-shop-a-thumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -7.5px;
}

.sp-shop-a-thumb {
  display: block;
  width: 50%;
  padding: 7.5px;
}

.sp-shop-a-menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0 15px;
}

.sp-shop-a-menu-header::before, .sp-shop-a-menu-header::after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #5f392f;
  overflow: hidden;
}

.sp-shop-a-menu-header .tit {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: -10px;
  padding: 0 23px;
  color: #5f392f;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 10px;
}

/* 전문관 B TYPE */
.sp-shop-b-items {
  padding-bottom: 50px;
}
/*# sourceMappingURL=display.css.map */