@charset "UTF-8";
/* *********************************
* 매거진
********************************** */
.magazine-header .tit {
  color: #222222;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
}

.magazine-hero {
  display: block;
}

.magazine-hero .detail {
  position: relative;
  margin-top: -30px;
  margin-right: 15px;
  padding: 20px;
  background-color: #fff;
}

.magazine-hero .vol {
  margin-bottom: 5px;
  color: #999999;
  font-size: 15px;
  line-height: 20px;
}

.magazine-hero .tit {
  color: #222222;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -.5;
}

.magazine-nav {
  padding: 15px 0;
  background-color: #fff;
}

.magazine-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.mgz-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 79px;
  height: 79px;
  background-color: #eeeeee;
  border-radius: 50%;
  color: #222222;
  font-size: 16px;
}

.magazine-banner-m-v {
  display: block;
}

.magazine-banner-m-v .img-container {
  position: relative;
}

.magazine-banner-m-v .label {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  padding: 4px 10px;
  background-color: #066b4c;
  color: #fff;
  font-size: 15px;
}

.magazine-banner-m-v .detail {
  margin-top: 15px;
}

.magazine-banner-m-v .tit {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -.6px;
  line-height: 24px;
}

.magazine-banner-m-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.magazine-banner-m-h .img-container {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding-right: 7.5px;
}

.magazine-banner-m-h .detail {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 7.5px;
}

.magazine-banner-m-h .label {
  display: inline-block;
  padding: 4px 10px;
  background-color: #066b4c;
  color: #fff;
  font-size: 15px;
}

.magazine-banner-m-h .tit {
  margin-top: 15px;
  max-width: 100%;
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -.6px;
  line-height: 24px;
}

.magazine-banner-m-h .content {
  margin-top: 5px;
  max-width: 100%;
  color: #777777;
  font-size: 15px;
  line-height: 20px;
}

.magazine-banner-l {
  display: block;
}

.magazine-banner-l .img-container {
  position: relative;
}

.magazine-banner-l .label {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  padding: 4px 10px;
  background-color: #066b4c;
  color: #fff;
  font-size: 15px;
}

.magazine-banner-l .detail {
  margin-top: 15px;
}

.magazine-banner-l .tit {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -.6px;
  line-height: 24px;
}

.magazine-banner-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.magazine-banner-s .img-container {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}

.magazine-banner-s .detail {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 15px;
}

.magazine-banner-s .label {
  display: inline-block;
  padding: 4px 10px;
  background-color: #066b4c;
  color: #fff;
  font-size: 15px;
}

.magazine-banner-s .tit {
  margin-top: 15px;
  max-width: 100%;
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -.6px;
  line-height: 24px;
}

#mgzComments {
  margin-top: -50px;
  padding-top: 50px;
}

.mgz-board-tit {
  padding-right: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}

.mgz-board-tit .tit {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  overflow: hidden;
}

.mgz-board-tit .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
  color: #999999;
  font-size: 14px;
  line-height: 20px;
}

.mgz-board-tit .info .view {
  color: #777777;
}

.mgz-board-tit .info .i {
  display: inline-block;
  margin: 0 5px;
  width: 1px;
  height: 11px;
  background-color: #eeeeee;
}

.mgz-board-tit .info .comments {
  margin-left: auto;
}

.mgz-board-item {
  display: block;
  padding-left: 15px;
}

.mgz-board-item .img-container {
  padding-right: 15px;
}

.mgz-board-item .mgz-board-tit {
  padding-top: 15px;
}

.mgz-board-list {
  padding-top: 30px;
}

.mgz-board-list li:not(:first-child) {
  padding-top: 60px;
}

.mgz-board-list.tile li {
  margin-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #eeeeee;
}

.mgz-board-list .grid-2n .mgz-board-item {
  padding-left: 0;
}

.mgz-board-list .grid-2n .mgz-board-tit {
  border-bottom: none;
}

.mgz-board-detail-header {
  padding-top: 30px;
  padding-left: 15px;
}

.mgz-board-detail-content {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 60px;
}

.mgz-tags {
  padding: 30px 15px;
}

.mgz-tags .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -2.5px;
  margin-right: -2.5px;
  margin-bottom: -7px;
}

.mgz-tags .item {
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 7px;
}
/*# sourceMappingURL=magazine.css.map */