/* *********************************
* Promotion
********************************** */
img {
  width: 100%;
}

.prm-nav-container {
  margin-top: 15px;
  height: 80px;
}

.prm-nav {
  padding: 15px;
}

.prm-entry {
  padding-top: 30px;
}

.prm-entry-banner {
  display: block;
  padding-left: 15px;
}
.prm-entry-banner .img-container {
  position: relative;
}
.prm-entry-banner .flag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 8px 0;
  height: 24px;
  background-color: #c7a36f;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
.prm-entry-banner .content {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 15px;
}
.prm-entry-banner .label {
  font-size: 11px;
  font-weight: 600;
}
.prm-entry-banner .label .opened {
  color: #066b4c;
}
.prm-entry-banner .label .closed {
  color: #999999;
}
.prm-entry-banner .label .dot {
  display: inline-block;
  margin-top: -2px;
  margin-left: 3px;
  margin-right: 3px;
  width: 4px;
  height: 4px;
  background-color: #999999;
  border-radius: 50%;
  vertical-align: middle;
}
.prm-entry-banner .label .notice {
  color: #c3a67f;
}
.prm-entry-banner .date {
  margin-left: auto;
  color: #999999;
  font-size: 11px;
  line-height: 13px;
}

.prm-entry-banner + .prm-entry-banner {
  margin-top: 30px;
}

.prm-detail img {
  display: block;
  width: 100%;
}

.prm-tit-section {
  padding: 30px 15px;
}
.prm-tit-section.evt-tit-section {
  padding-bottom: 15px;
}
.prm-tit-section .tit {
  padding-right: 30px;
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.prm-tit-section .label {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #066b4c;
  font-size: 11px;
  font-weight: 600;
}
.prm-tit-section .date {
  color: #999999;
  font-size: 14px;
  line-height: 20px;
}
.prm-tit-section .comments {
  color: #999999;
  font-size: 14px;
  line-height: 20px;
}

.prm-cate-nav {
  background-color: #fff;
}
.prm-cate-nav.sticky {
  border-bottom: 1px solid #eeeeee;
}

/* Promotion Type B */
.prm-type-b .prm-tags {
  margin-top: 10px;
  margin-bottom: 45px;
}

.prm-type-b-prd-list {
  margin-top: -16%;
}

.prm-prd-view {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -154px;
  margin-left: -82.5px;
}
.prm-prd-view .prd-item {
  margin: 0 auto;
  width: 165px;
}

/**
Event
**/
.evt-header {
  position: relative;
}
.evt-header .state {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  padding: 9px 13px 0;
  height: 30px;
  background-color: rgba(34, 34, 34, 0.4);
  border-radius: 15px;
  color: #fff;
  font-size: 13px;
}

.evt-tab-container {
  margin-bottom: 15px;
}

.evt-tab {
  background-color: #fff;
}

.prm-rel-banner {
  display: block;
}
.prm-rel-banner .img-container img {
  display: block;
  width: 100%;
}
.prm-rel-banner .detail {
  position: relative;
  margin-top: -30px;
  margin-left: 15px;
  padding: 10px 10px 8px 10px;
  background-color: #fff;
  z-index: 1;
}
.prm-rel-banner .tit {
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}
.prm-rel-banner .desc {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
}

.evt-cmt-section {
  min-height: calc(100vh - 60px);
}

.evt-result-text {
  color: #222222;
  font-size: 20px;
  text-align: center;
}

/* event result item */
.evt-result-item + .evt-result-item {
  margin-top: 30px;
}

.evtr-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.evtr-header .tit {
  max-height: 40px;
  color: #222222;
  font-size: 15px;
  line-height: 20px;
  overflow: hidden;
}
.evtr-header .total {
  display: block;
  margin-left: auto;
  width: 55px;
  color: #0ca678;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-align: right;
}

.evtr-badge {
  display: inline-block;
  flex-shrink: 0;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-color: #099268;
  border-radius: 50%;
  color: #fff;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
}
.evtr-badge.evtr-1 {
  background-color: #066b4c;
}

.agree-content {
  height: 170px;
  overflow-y: auto;
}

/* Event Apply*/
.evta-header {
  position: relative;
}
.evta-header .evta-tit {
  padding: 30px 15px;
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  word-break: keep-all;
}
.evta-header .notice {
  margin-top: -15px;
  padding-bottom: 30px;
}

/*# sourceMappingURL=promotion.css.map */
