@charset "UTF-8";
/* *********************************
* My Page
********************************** */
.board-list li + li {
  padding-top: 20px;
}

.board-item {
  display: block;
  margin-left: 15px;
  padding: 0 15px 15px 0;
  border-bottom: 1px solid #eeeeee;
}

.board-item .tit-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.board-item .tit-label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  padding: 0 6px;
  min-width: 40px;
  height: 20px;
  font-size: 11px;
  border: 1px solid #555555;
  border-radius: 10px;
  white-space: nowrap;
}

.board-item .tit-label.green {
  border-color: #066b4c;
  color: #066b4c;
}

.board-item .tit {
  display: block;
  width: 100%;
  color: #555555;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.board-item .date {
  margin-top: 10px;
  color: #999999;
  font-size: 14px;
  line-height: 20px;
}

.board-item.header .label {
  width: auto;
}

.board-item.header .tit {
  color: #222222;
  font-size: 15px;
  overflow: visible;
  white-space: normal;
}

.board-detail {
  padding: 15px;
}

.board-detail img {
  display: block;
  max-width: 100%;
}

.mya-header {
  padding: 20px 15px;
}

.mya-header .label {
  color: #f8f8f8;
  font-size: 15px;
}

.mya-header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.mya-header .guide {
  margin-top: 7px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  letter-spacing: -.1px;
  line-height: 15px;
}

.mya-header .guide.t-yellow {
  font-size: 13px;
}

.mem-assets .value {
  font-size: 16px;
}

.mem-assets .value b {
  margin-right: 2px;
  font-size: 18px;
}

.mem-assets .label {
  margin-top: 8px;
  font-size: 13px;
  opacity: .5;
}

.mem-assets-sk {
  margin-bottom: 11px;
  padding-left: 5px;
  padding-right: 5px;
}

.mem-assets-common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: -15px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.mem-assets-common li {
  padding-top: 15px;
  padding-bottom: 18px;
  padding-right: 15px;
  text-align: center;
}

.point-history-item {
  margin-left: 15px;
  padding: 30px 15px 20px 0;
  border-bottom: 1px solid #eeeeee;
}

.point-history-item .tit {
  color: #222222;
  font-size: 15px;
}

.point-history-item .value {
  font-size: 15px;
  font-weight: bold;
}

.point-history-item .date {
  color: #999999;
  font-size: 15px;
  line-height: 20px;
}

.point-history-item .day {
  margin-left: 10px;
  color: #999999;
  font-size: 15px;
  line-height: 20px;
}

.point-history-item .state {
  color: #999999;
  font-size: 15px;
}

.point-history-item .red {
  color: #fa5252 !important;
}

.point-history-item .green {
  color: #0ca678 !important;
}

.point-history-item .row-2 {
  margin-top: 5px;
}

.coupon-history-item {
  margin-left: 15px;
  padding: 30px 15px 20px 0;
  border-bottom: 1px solid #eeeeee;
}

.coupon-history-item .tit {
  color: #222222;
  font-size: 15px;
}

.coupon-history-item .state {
  color: #555555;
  font-size: 15px;
  font-weight: 600;
}

.coupon-history-item .desc {
  margin-top: 5px;
  color: #999999;
  font-size: 15px;
  line-height: 18px;
}

.coupon-history-item .date {
  color: #999999;
  font-size: 15px;
  line-height: 20px;
}

.coupon-history-item .day {
  margin-left: 10px;
  color: #999999;
  font-size: 15px;
  line-height: 20px;
}

.coupon-history-item .red {
  color: #fa5252 !important;
}

.coupon-history-item .green {
  color: #099268 !important;
}

.coupon-history-item .row-2 {
  margin-top: 10px;
}

.assets-history-footer {
  margin-top: 25px;
  padding: 0 15px;
}

.assets-history-footer .label {
  color: #343a40;
  font-size: 13px;
  font-weight: bold;
}

.assets-history-footer .value {
  color: #0ca678;
  font-size: 14px;
  font-weight: bold;
}

.myo-item {
  padding: 30px 0;
}

.myo-item .myo-prd + .myo-prd {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
}

.myo-item + .myo-item {
  border-top: 1px solid #eeeeee;
}

.myo-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  padding: 0 15px;
  font-size: 15px;
}

.myo-item-header .state {
  color: #777777;
}

.myo-item-header .state b {
  color: #555555;
}

.myo-item-header .add {
  margin-left: auto;
}

.myo-item-header .add a {
  color: #222222;
  font-size: 13px;
  font-weight: 600;
}

.myo-item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.myo-item-buttons .button {
  width: 100%;
}

.myo-item-buttons .button + .button {
  margin-left: 10px;
}

.myo-prd {
  padding: 0 15px;
}

.myo-prd + .myo-prd {
  padding-top: 30px;
}

.myo-prd-list {
  padding-top: 30px;
  padding-left: 15px;
}

.myo-prd-list .myo-prd {
  border-bottom: 1px solid #eeeeee;
  padding-right: 15px;
}

.my-review-list .myo-prd {
  margin-left: 15px;
  padding-left: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.delivery-progress {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.delivery-progress-item::before {
  content: '';
  position: absolute;
  top: 31px;
  display: block;
  margin-left: calc(-25% + 60px);
  width: 25%;
  height: 1px;
  background-color: #eeeeee;
  z-index: -1;
}

.delivery-progress-item .delivery-icon {
  z-index: 10;
}

.delivery-progress-item .label {
  margin-top: 18px;
  color: #999999;
  font-size: 14px;
  text-align: center;
}

.delivery-progress-item.active::before {
  background-color: #099268;
}

.delivery-progress-item.active .label {
  color: #222222;
}

.delivery-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #eeeeee;
  border-radius: 50%;
}

.delivery-icon::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain !important;
}

.delivery-icon.delivery-1::after {
  background: url("../images/icons/delivery1@2x.png") 0 0 no-repeat;
}

.delivery-icon.delivery-2::after {
  background: url("../images/icons/delivery2@2x.png") 0 0 no-repeat;
}

.delivery-icon.delivery-3::after {
  background: url("../images/icons/delivery3@2x.png") 0 0 no-repeat;
}

.delivery-icon.delivery-4::after {
  background: url("../images/icons/delivery4@2x.png") 0 0 no-repeat;
}

.delivery-icon.delivery-5::after {
  background: url("../images/icons/delivery5@2x.png") 0 0 no-repeat;
}

.delivery-progress-item.active .delivery-icon {
  background-color: #066b4c;
}

.delivery-progress-item.active .delivery-icon.delivery-1::after {
  background-image: url("../images/icons/deliveryW1@2x.png");
}

.delivery-progress-item.active .delivery-icon.delivery-2::after {
  background-image: url("../images/icons/deliveryW2@2x.png");
}

.delivery-progress-item.active .delivery-icon.delivery-3::after {
  background-image: url("../images/icons/deliveryW3@2x.png");
}

.delivery-progress-item.active .delivery-icon.delivery-4::after {
  background-image: url("../images/icons/deliveryW4@2x.png");
}

.delivery-progress-item.active .delivery-icon.delivery-5::after {
  background-image: url("../images/icons/deliveryW5@2x.png");
}

/* 주문/배송내역 */
.myo-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 10px;
}

.myo-progress .chevron-h-16 {
  margin-bottom: 4.5px;
}

.myo-progress-item {
  position: relative;
  display: block;
  text-align: center;
}

.myo-progress-item .count {
  color: #ced4da;
  font-size: 26px;
}

.myo-progress-item.active .count {
  color: #555555;
}

.myo-progress-item .label {
  color: #222222;
  font-size: 14px;
  line-height: 25px;
}

.myo-progress-icon {
  color: #d5d5d5;
  font-size: 40px;
  font-weight: 600;
  line-height: 49px;
}

.myo-progress-icon.active {
  color: #066b4c;
}

.wn-icon.myo-progress-01 {
  background-image: url("../images/icons/orderStatus01@2x.png");
}

.wn-icon.myo-progress-02 {
  background-image: url("../images/icons/orderStatus02@2x.png");
}

.wn-icon.myo-progress-03 {
  background-image: url("../images/icons/orderStatus03@2x.png");
}

.wn-icon.myo-progress-04 {
  background-image: url("../images/icons/orderStatus04@2x.png");
}

/* 주문내역 상세 */
.myod-header {
  padding: 20px 0;
}

.myod-header .order-state {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myod-header .order-state .content {
  font-size: 13px;
  line-height: 20px;
}

.myod-header .order-state .right {
  margin-left: auto;
}

.myod-header .order-state .btn-go {
  font-size: 13px;
  font-weight: 600;
}

.myod-header .order-state .btn-go .wn-icon {
  margin-left: 2px;
}

.myod-item {
  padding-left: 15px;
  padding-right: 15px;
}

.myod-item .myod-prd + .myod-prd {
  margin-top: 30px;
}

.myod-item + .myod-item {
  margin-top: 30px;
}

.myod-item-header {
  margin-bottom: 10px;
  line-height: 25px;
}

.myod-item-header .state {
  color: #fa5252;
  font-size: 16px;
}

.myod-item-header .i {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 1px;
  height: 11px;
  background-color: #d5d5d5;
  vertical-align: middle;
}

.myod-item-header .type {
  color: #777777;
  font-size: 14px;
}

.myod-prd {
  position: relative;
}

.myod-prd + .myod-prd {
  margin-top: 15px;
}

.myod-delivery {
  position: relative;
}

.myod-delivery .top-right {
  position: absolute;
  top: 26px;
  right: 15px;
}

.myod-delivery .top-right .button .wn-icon {
  margin-top: -2px;
  margin-right: -6px;
  margin-left: 4px;
}

.myod-delivery + .myod-item {
  margin-top: 30px;
}

.my-review-item {
  margin-left: 15px;
  padding: 15px 15px 20px 0;
  border-bottom: 1px solid #eeeeee;
}

.my-review-item .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-review-item .img-container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  margin-right: 10px;
}

.my-review-item .detail {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}

.my-review-item + .my-review-item {
  margin-top: 15px;
}

.myr-item-header {
  position: relative;
  margin-bottom: 14px;
  padding-top: 2px;
  padding-left: 10px;
}

.myr-item-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #eeeeee;
  border-radius: 1.5px;
}

.myr-item-header .tit {
  color: #999999;
  font-size: 13px;
}

.myr-item-header .date {
  margin-top: 7px;
  color: #999999;
  font-size: 14px;
}

.myr-item-content {
  color: #222222;
  font-size: 15px;
  line-height: 19px;
}

.myr-item-buttons {
  margin-top: 15px;
  text-align: right;
}

.myr-item-buttons .button {
  margin-left: 5px;
  min-width: 62px;
}

.my-qna-item .label-q,
.my-qna-item .label-a {
  width: 24px;
  font-size: 20px;
  font-weight: bold;
}

.my-qna-item .label-q {
  color: #0ca678;
}

.my-qna-item .label-a {
  color: #ff8787;
}

.my-qna-tit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}

.my-qna-tit-container .detail {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}

.my-qna-tit-container .detail + .state {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 15px;
}

.my-qna-tit-container .prd-tit {
  margin-bottom: 15px;
  color: #999999;
  font-size: 15px;
}

.my-qna-tit-container + .my-qna-tit-container {
  margin-top: 30px;
}

.my-qna-tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.my-qna-tit .label-q {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-top: 3px;
  line-height: 20px;
}

.my-qna-tit .tit {
  padding-right: 20px;
  color: #222222;
  font-size: 15px;
  line-height: 20px;
}

.my-qna-tit .tit .wn-icon {
  margin-top: -3px;
  margin-left: 2px;
}

.my-qna-tit .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  color: #999999;
  line-height: 20px;
}

.my-qna-tit .info .state {
  font-size: 13px;
}

.my-qna-tit .info .date {
  font-size: 14px;
}

.my-qna-tit .info .type {
  font-size: 13px;
}

.my-qna-tit .info .i {
  display: inline-block;
  margin: 0 10px;
  width: 1px;
  height: 12px;
  background-color: #eeeeee;
  vertical-align: middle;
}

.my-qna-content {
  padding: 30px 15px 0;
  color: #555555;
  font-size: 14px;
  line-height: 20px;
}

.my-qna-attached {
  margin: 30px 15px 0;
  padding: 20px 15px;
  background-color: #f8f8f8;
}

.my-qna-attached .list {
  color: #777777;
  font-size: 14px;
  line-height: 20px;
}

.my-qna-footer {
  margin: 30px 15px 0;
}

.my-qna-answer {
  margin-top: 30px;
  margin-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  border-top: 1px solid #eeeeee;
}

.my-qna-answer .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-qna-answer .label-a {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.my-qna-answer .tit {
  color: #555555;
  font-size: 14px;
  line-height: 23px;
}

.my-qna-answer .content {
  margin-top: 10px;
  padding-left: 24px;
  color: #555555;
  font-size: 14px;
  line-height: 23px;
}

.my-evt-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}

.my-evt-item .img-container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
  width: 90px;
  height: 108px;
  background-position: 50% 50%;
  background-size: cover;
}

.my-evt-item .detail {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}

.my-evt-item .state {
  margin-bottom: 5px;
  color: #555555;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}

.my-evt-item .tit {
  color: #222222;
  font-size: 15px;
  line-height: 1.3;
}

.my-evt-item .date {
  margin-top: 10px;
  color: #999999;
  font-size: 13px;
  line-height: 20px;
}

.my-evt-item .date small {
  font-size: 12px;
}

.faq-acc-tit .tit {
  font-size: 15px;
}

.faq-acc-tit .cat {
  margin-top: 5px;
  color: #999999;
  font-size: 13px;
}

.faq-acc-detail .editor-content,
.faq-acc-detail .editor-content * {
  font-family: "proxima-nova", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "AppleSDGothicNeo", sans-serif;
  color: #555555;
  font-size: 13px !important;
  line-height: 18px !important;
}

.faq-acc-detail .editor-content a {
  color: #099268 !important;
  font-weight: 600;
  text-decoration: underline;
}

.faq-acc-detail-footer {
  margin-top: 30px;
}

.faq-acc-detail-footer .text {
  color: #777777;
  font-size: 13px;
  line-height: 24px;
}

.faq-acc-detail-footer .controls {
  margin-top: 10px;
  padding-bottom: 5px;
}

.faq-item {
  margin-left: 15px;
}

.faq-item:last-child {
  border-bottom: 1px solid #eeeeee;
}

.faq-item + .faq-item {
  border-top: 1px solid #eeeeee;
}

.faq-item-tit {
  display: block;
  padding: 30px 15px 15px 0;
}

.faq-item-tit .tit {
  color: #555555;
  font-size: 14px;
  line-height: 20px;
}

.faq-item-tit .cate {
  margin-top: 10px;
  color: #999999;
  font-size: 13px;
}

.open .faq-item-tit .tit {
  color: #222222;
}

.faq-item-content {
  padding: 15px 15px 15px 0;
  border-top: 1px solid #eeeeee;
}

.faq-item-content .editor-text,
.faq-item-content .editor-text * {
  font-family: "proxima-nova", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "AppleSDGothicNeo", sans-serif;
  font-size: 14px !important;
  line-height: 24px !important;
}

.faq-item-content .editor-text a {
  color: #099268;
  font-weight: 600;
  text-decoration: underline;
}

.faq-content-footer {
  margin-top: 30px;
}

.faq-detail {
  padding-top: 10px;
}

.faq-detail .faq-item .tit {
  color: #222222;
  font-size: 15px;
}

.faq-detail .faq-item .cate {
  margin-top: 10px;
  color: #999999;
}

.faq-detail-content {
  padding: 15px;
  color: #555555;
  font-size: 14px;
  line-height: 24px;
}

.faq-detail-content a {
  color: #099268;
  text-decoration: underline;
}

.faq-detail-content b, .faq-detail-content strong {
  color: inherit;
  font-weight: bold;
}

.faq-detail-footer {
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.myp-se-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.myp-se-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding: 0 15px;
}

.myp-se-header .hd-xs,
.myp-se-header .hd-s {
  margin-bottom: 0;
}

.myp-header {
  padding: 30px 15px;
}

.mem-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mem-info .content {
  padding-left: 15px;
}

.mem-info .mem-sk {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
}

.mem-info .mem-welcome {
  font-size: 20px;
  line-height: 34px;
}

.mem-info .mem-accounts .wn-icon {
  margin-right: 1px;
}

.icon-mem-lv {
  width: 48px;
  height: 48px;
  background-color: #fff;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.icon-mem-lv.lv-1 {
  background-image: url("../images/icons/memLevel1@2x.png");
}

.icon-mem-lv.lv-2 {
  background-image: url("../images/icons/memLevel2@2x.png");
}

.icon-mem-lv.lv-3 {
  background-image: url("../images/icons/memLevel3@2x.png");
}

.icon-mem-lv.lv-4 {
  background-image: url("../images/icons/memLevel4@2x.png");
}

.icon-mem-lv.lv-5 {
  background-image: url("../images/icons/memLevel5@2x.png");
}

.se-mem-purchase {
  padding-bottom: 30px;
}

.mem-purchase-info {
  position: relative;
  margin-top: 15px;
}

.mem-progress-container {
  position: absolute;
  top: 80px;
  left: 0;
  padding: 16px 28px;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 17px;
}

.progress-bar.mem-progress-bar {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 0;
}

.progress-bar.mem-progress-bar .bar {
  background-color: #d5d5d5;
  border-radius: 0;
}

.mem-lv-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 15px;
}

.mem-lv-item.lv-1,
.mem-lv-color.lv-1 {
  color: #c7a36f;
}

.mem-lv-item.lv-2,
.mem-lv-color.lv-2 {
  color: #74b816;
}

.mem-lv-item.lv-3,
.mem-lv-color.lv-3 {
  color: #fa5252;
}

.mem-lv-item.lv-4,
.mem-lv-color.lv-4 {
  color: #099268;
}

.mem-lv-item.lv-5,
.mem-lv-color.lv-5 {
  color: #fab005;
}

.mem-lv-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13px;
}

.mem-lv-item .label {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

.mem-lv-item .condition {
  margin-top: 5px;
  color: #555555;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  white-space: nowrap;
}

.mem-lv-item .reward {
  color: #555555;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  white-space: nowrap;
}

.mem-lv-item .top {
  height: 90px;
}

.mem-lv-item .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 45px;
}

.mem-lv-marker {
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid currentColor;
}

.mem-lv-marker.active {
  background-color: currentColor;
}

.mem-lv-marker.next-level {
  -webkit-animation: heartbeat 1s infinite;
          animation: heartbeat 1s infinite;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.mem-lv-result {
  margin-top: 20px;
  font-size: 13px;
  text-align: right;
}

.mem-lv-result .label {
  margin-right: 4px;
  color: #999999;
}

.mem-lv-result .i {
  display: inline-block;
  margin: 0 6px;
  width: 1px;
  height: 11px;
  background-color: #555555;
  vertical-align: middle;
}

.myp-menu-list {
  margin-left: 15px;
  padding-right: 7px;
}

.myp-menu-list li + li {
  margin-top: 15px;
}

.myp-se-header + .myp-menu-list {
  padding-top: 20px;
  border-top: 1px solid #eeeeee;
}

.myp-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
}

.myp-menu-item .tit {
  font-size: 15px;
  line-height: 16px;
}

.myp-menu-item .right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999999;
  font-size: 15px;
}

.myp-menu-item .right .wn-icon {
  margin-left: 5px;
}

.myi-header .i {
  background-color: rgba(85, 85, 85, 0.5);
}

.mem-status .progress-bar {
  margin-top: 10px;
  margin-bottom: 12px;
}

.myi-footer-content {
  font-size: 14px;
  text-align: center;
}

.myi-footer-content a {
  display: inline-block;
}

.myi-footer-content a .wn-icon {
  margin-bottom: 2px;
  margin-right: 7px;
}

.myi-footer-content .i {
  display: inline-block;
  margin-left: 21px;
  margin-right: 21px;
  width: 1px;
  height: 18px;
  background-color: rgba(85, 85, 85, 0.2);
  vertical-align: middle;
}

.myi-footer {
  margin-top: 30px;
}

.myp-section-header {
  padding-top: 22px;
}

.myp-section-header .hd-xs {
  color: #999999;
}

/* 추천인 현황 */
.myr-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
  background-color: #066b4c;
  color: #fff;
}

.myr-header .label {
  color: #f8f8f8;
  font-size: 14px;
}

.myr-header .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.myr-header .value small {
  font-size: 18px;
}

.myr-header .slash {
  margin: 0 5px;
  font-size: 10px;
  font-weight: 600;
}

/* FAQ */
.tile-table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

.tile-table td {
  padding: 0;
  background-color: #f8f8f8;
  border: 1px solid #eeeeee;
}

.tile-button {
  display: block;
  padding-top: 13px;
  height: 40px;
  background-color: #f8f8f8;
  color: #555555;
  font-size: 15px;
  text-align: center;
}

.tile-button.active {
  background-color: #066b4c;
  color: #fff;
}

.search-result-header + .faq-list {
  margin-top: 0;
}

.card-shadow {
  display: block;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 #eeeeee;
          box-shadow: 0 1px 3px 0 #eeeeee;
}

.btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 170px;
}

.btn-box .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
}

.btn-box .label {
  margin-top: 26px;
  color: #222222;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.wn-icon-50-cart {
  background-image: url("../images/icons/orderCart50@2x.png");
}

.wn-icon-50-delivery {
  background-image: url("../images/icons/orderDelivery50@2x.png");
}

.wn-icon-50-return {
  background-image: url("../images/icons/orderReturn50@2x.png");
}

.myp-menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myp-menu-icon .icon-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
}

.myp-menu-icon .badge {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #066b4c;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
}

.myp-menu-icon .label {
  margin-top: 10px;
  font-size: 15px;
  line-height: 20px;
}

.logout-footer {
  padding: 60px 0;
  width: 100%;
  text-align: center;
}

.logout-footer .i {
  display: inline-block;
  margin: auto 16px;
  width: 1px;
  height: 9px;
  background-color: #999999;
  vertical-align: middle;
}

.logout-footer a {
  font-size: 15px;
}
/*# sourceMappingURL=mypage.css.map */